<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.herdmaster.notify</string>
  <key>ProgramArguments</key><array>
    <string>/bin/bash</string><string>__HERDMASTER_HOME__/bin/herdmaster-notify.sh</string>
  </array>
  <key>EnvironmentVariables</key><dict>
    <key>HOME</key><string>__HOME__</string>
    <key>HERDMASTER_HOME</key><string>__HERDMASTER_HOME__</string>
    <key>PATH</key><string>__HOME__/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StartInterval</key><integer>10</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardErrorPath</key><string>__HERDMASTER_HOME__/logs/notify.err.log</string>
</dict></plist>
